<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iso_publish.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iso_publish.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <iso_publish.Properties.Settings>
            <setting name="noParameter" serializeAs="String">
                <value>You have not entered any parameters. Use "-h" to show help.</value>
            </setting>
            <setting name="wrongParameter" serializeAs="String">
                <value>You have used a wrong parameter. Use "-h" to show help.</value>
            </setting>
        </iso_publish.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <iso_publish.Properties.Settings>
            <setting name="noUsername" serializeAs="String">
                <value>The username can not be empty. Use "-h" to show help.</value>
            </setting>
            <setting name="noPassword" serializeAs="String">
                <value>The passwoer can not be empty. Use "-h" to show help.</value>
            </setting>
            <setting name="noAppId" serializeAs="String">
                <value>The App_Id can not be empty. Use "-h" to show help.</value>
            </setting>
            <setting name="noBuildPath" serializeAs="String">
                <value>The build Path can not be empty. Use "-h" to show help.</value>
            </setting>
            <setting name="wrongBuildPath" serializeAs="String">
                <value>The Build Path dose not exist.</value>
            </setting>
            <setting name="wrongZipFileName" serializeAs="String">
                <value>The zip file dose not exist.</value>
            </setting>
            <setting name="unknownResponce" serializeAs="String">
                <value>Unknown responce recieved!</value>
            </setting>
            <setting name="uploadingFailed" serializeAs="String">
                <value>Uploading built File was failed!</value>
            </setting>
            <setting name="startUploading" serializeAs="String">
                <value>Start Uploading ...</value>
            </setting>
            <setting name="cantCompressing" serializeAs="String">
                <value>Can not compressing the directory. try again!</value>
            </setting>
        </iso_publish.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>